<% layout('/layouts/boilerplate') %>
    <div class="row mb-5">
        <h1 class="text-center">Add New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campground" method="POST" class="validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="addNew">Title</label>
                    <input class="form-control" type="text"  placeholder="Add Title" id="addNew"
                        name="campground[title]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="addalocation">Location</label>
                    <input type="text" class="form-control"  placeholder="Add Location" id="addalocation"
                        name="campground[location]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input type="text" class="form-control"  placeholder="Add image url" id="image"
                        name="campground[image]" required>
                </div>
                <div class=" mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control"  placeholder="0.00" id="price"
                            name="campground[price]" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea type="text" class="form-control"  placeholder="Add description" id="description"
                        name="campground[description]" required></textarea >
                </div>
                <div>
                    <button class="btn btn-success">Add Campground</button>
                    <a class="btn btn-danger " href="/campground">Cancel</a>
                </div>

            </form>

        </div>
    </div>
    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>